
.container {
  width: 3.37rem;
  height: 3.37rem;
  border-radius: 0.62rem;

  background-color: #EBEBFC;
  color: #6363db;

  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}

.containerSmall {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.43rem;
  border: solid 1px #6363db;
  font-size: 1.25rem;
  font-weight: 500;
}

.containerCorrect {
  background-color: #e1f5ec;
  border-color: #03ab4f;
  color: #03ab4f;
} 

.containerWrong {
  background-color: #ffcf62;
  border-color: #691b0a;
  color: #691b0a;
} 