.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container main {
  width: 556px;
  background-color: #ffffff;
  padding: 2rem;
  padding-top: 4.5rem;
  border-radius: 0.75rem;
}

.word {
  margin: 2.5rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container h4 {
  color: #6363db;
}

.guess {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.75rem;
}